:root {
  --color-bg-white: #ffffff;
  --color-text: #222222;
  --color-primary: #2196f3;
  --color-success: #4caf50;
  --color-danger: #d9534f;
  --color-secondary: #00bcd4;
  --color-light: #ffffff;
}
