<div class="card">

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header >
        <div class="mat">
        <div class="mat-header">
          <mat-checkbox class="example-margin tichbox"></mat-checkbox>
          <div class="text-title">Do Homework</div>
        </div>
        <div class="mat-button">
           <button class="btn-secondary">Detail</button>
           <button class="btn-danger">Remove</button>
        </div>
      </div>
      </mat-expansion-panel-header>
        <app-new-task></app-new-task>
    </mat-expansion-panel>


    <mat-expansion-panel  hideToggle>
      <mat-expansion-panel-header >
        <div class="mat">
        <div class="mat-header">
          <mat-checkbox class="example-margin tichbox"></mat-checkbox>
          <div class="text-title">Do Homework</div>
        </div>
        <div class="mat-button">
           <button class="btn-secondary">Detail</button>
           <button class="btn-danger">Remove</button>
        </div>
      </div>
      </mat-expansion-panel-header>
        <app-new-task></app-new-task>
    </mat-expansion-panel>

  </mat-accordion>



  <div class="footer">
    <div class="text-title ">
      Bulk Action:
    </div>

    <div class="box-flex">
      <button class="btn-primary">Done</button>
      <button class="btn-danger">Remove</button>

    </div>
  </div>
</div>
